<nav class="navbar navbar-expand-lg bg-white border-bottom">
  <div class="container-fluid px-4">
    <a class="navbar-brand fw-bold fs-4" href="{% url 'home' %}">E-commerce</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="mainNav">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 gap-3">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>

        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
          </li>
        {% endif %}
      </ul>

      <form
        class="d-flex align-items-center gap-3"
        style="width: 25%"
        method="get"
        action="{% url 'product_list' %}"
      >
        <div class="input-group" style="flex: 1">
          <input
            type="search"
            class="form-control"
            name="q"
            value="{{ request.GET.q }}"
            placeholder="What are you looking for?"
            aria-label="Search"
            style="font-size: 14px"
          />
          <button class="btn btn-outline-secondary border" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </div>

        <a href="{% url 'wishlist' %}" class="position-relative text-dark">
          <i class="bi bi-heart fs-5 position-relative"></i>

          {% if request.user.is_authenticated and request.user.wishlist_products.exists %}
            <span
              class="position-absolute"
              style="
                top: 2px;
                right: 0px;
                width: 7px;
                height: 8px;
                background-color: red;
                border-radius: 50%;
                border: 1px solid white;
              "
            >
              <span class="visually-hidden">Wishlist has items</span>
            </span>
          {% endif %}
        </a>

        <a href="#" class="text-dark">
          <i class="bi bi-cart fs-5"></i>
        </a>

        {% if user.is_authenticated %}
          <a href="#" class="text-dark">
            <i class="bi bi-person-circle fs-5"></i>
          </a>
        {% endif %}
      </form>
    </div>
  </div>
</nav>
