{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Admin Panel{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0&icons=grid_view,person_outline,insights,mail_outline,receipt_long,settings,add,logout" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'admin_panel/css/style.css' %}">
</head>
<body>
    <div class="container">
        {% include 'admin_panel/components/sidebar.html' %}
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
