
          




          
            {% extends 'admin_panel/admin_base.html' %}
            {% load static%}

            {% block style %}
            <link rel="stylesheet" href="{% static 'admin_panel/css/orders_style.css' %}">
            {% endblock  %}
            
            
              
            
            {% block content %}
            
            
            <!-- main section -->
                  
            <main>
            
                <div class="div_of_Pages">
            
                 <div class="Pages">
                <a class="row{% if request.resolver_match.url_name == 'All_Orders' %} activate{% endif %}"  href="{% url 'All_Orders' %}" id="ALL orders">ALL orders</a>
                </div>
            
                <div class="Pages">
                  <a  class="row{% if request.resolver_match.url_name == 'Done' %} activate{% endif %}"  href="{% url 'Done' %}" id="Done orders">Done orders</a>
                  </div>
            
                <div class="Pages">
                <a  class="row{% if request.resolver_match.url_name == 'Cancelled' %} activate{% endif %}"  href="{% url 'Cancelled' %}" id="cancelled orders"> <strike>cancelled orders</strike></a>
                  </div>
            
                </div>
                 </table>
               
                <div class="Big_Table">
            
            
                  <table class="table">
            
                    <!--first row-->
            
                    <tr>
                      <th>Order ID</th>
                      
                      <th>Buyer</th>

                      <th>product name</th>
            
                      <th>product image</th>
            
                      <th>Total price</th>
            
                      <th>Status</th>
            
                      <th>Delivery address</th>
            
                      <th>Payment method</th>
                      <th>Delete Order</th>
            
                    </tr>
            
            
            
                    {% block content2%}
            
            
            
            
            
                    {% endblock content2 %}
            
            
            
                </table>
            
            
                      
            
            
            </div>
            {% if OrdersList.has_previous  or OrdersList.has_next  %}
            <div class="footer">
            
            
            
            <div class="footer_previous">
            
                
            
                {% if OrdersList.has_previous %}
                
                <a href="?page=1">«</a>
                
                {% endif %}
            
            
            </div>
            
            
            <div class="footer_previous">
            
              {% if OrdersList.has_previous %}
            
              <a href="?page={{ OrdersList.previous_page_number }}" >‹</a>
             {% endif %}
            </div>
            
            
            
            
            <div class="footer_next">
              {% if OrdersList.has_next %}
            
              <a href="?page={{ OrdersList.next_page_number }}">›</a>
              {% endif %}
            
            
            </div>
            
            <div class="footer_next">
              {% if OrdersList.has_next %}
              <a href="?page={{ OrdersList.paginator.num_pages }}">»</a>
              {% endif %}
            
            </div>
            
            
            
            
            
            
            </div>
            
            {% endif %}
            
            </main>
   
            

            
            {% endblock %}          