{% extends 'base.html' %}
{% block title %}{{ category.name }} Products{% endblock %}

{% block content %}
<div class="container my-5">
  <h3 class="mb-4">Products in {{ category.name }}</h3>

  <div class="row">
    {% for product in products %}
      <div class="col-md-3 mb-4">
        <div class="card border-0 shadow-sm h-100">
          <a href="{% url 'product_detail' product.pk %}" class="text-decoration-none text-dark d-block">
            <div class="bg-light d-flex justify-content-center align-items-center" style="height: 220px;">
              <img src="{{ product.URL_image }}" alt="{{ product.name }}" style="max-height: 200px; object-fit: contain;">
            </div>

            <div class="card-body text-center">
              <h6 class="fw-bold mb-2">{{ product.name }}</h6>
              <p class="text-dark fw-semibold mb-2">${{ product.price }}</p>
          </a>

              <a href="{% url 'product_detail' product.pk %}" class="my-btn">View Details</a>
              <a href="{% url 'toggle_wishlist' product.id %}" class="my-btn me-2 px-2 d-inline-flex align-items-center justify-content-center" style="height: 38px; min-width: 38px;">
                <i class="bi {% if product in request.user.wishlist_products.all %}bi-heart-fill text-danger{% else %}bi-heart{% endif %}"></i>
              </a>
            </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
