{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}



<div class="w-100 bg-secondary" style="height: 200px;"></div>

<div class="container my-5">
  <p class="text-danger fw-bold mb-1">Categories</p>
  <h4 class="fw-bold mb-3">Browse By Category</h4>

  <div class="d-flex flex-wrap gap-3">
    {% for category in categories %}
      <a href="{% url 'category_products' category.pk %}"
         class="text-decoration-none" >
        <div class="d-flex justify-content-center align-items-center border rounded px-4 py-3 bg-white text-dark"
            style="width: 130px; height: 90px; transition: 0.3s;">
          <div class="fw-semibold text-center">{{ category.name }}</div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>


<div class="container my-5">
   <p class="text-danger fw-bold mb-1">Our Products</p>
  <div class="d-flex justify-content-between align-items-center mb-3">
   <h2 class="fw-bold">Explore Our Products</h2>
  </div>

 <div class="row">
    {% for product in products %}
      <div class="col-md-3 mb-4" >
        <div class="card border-0 shadow-sm h-100">
         <a href="{% url 'product_detail' product.pk %}" class="text-decoration-none text-dark d-block">

          <div class="bg-light d-flex justify-content-center align-items-center" style="height: 220px;">
            <img src="{{ product.URL_image }}" alt="{{ product.name }}" style="max-height: 200px; object-fit: contain;">
          </div>

         
          <div class="card-body text-center">
            <h6 class="fw-bold mb-2">{{ product.name }}</h6>
            <p class="text-dark fw-semibold mb-2">${{ product.price }} </p>
         </a>

            
            <a href="#" class="my-btn">Add to Cart</a>
            <a id="wishlist" name="{% url 'toggle_wishlist' product.id %}" href="#" class="my-btn me-2 px-2 d-inline-flex align-items-center justify-content-center " style="height: 38px; min-width: 38px;">
                    <i class="bi {% if product in request.user.wishlist_products.all %}bi-heart-fill text-danger{% else %}bi-heart{% endif %}"></i>
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>


  <div class="text-center mt-3">
    <a href="{% url 'product_list' %}" class="my-btn">View All Products</a>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'products/js/product_list.js' %}" defer></script>

{% endblock %}