/* total div for pages of orders  */

.div_of_Pages{

  width:1000px;
  height: 50px;

  display:flex;
  gap:30px;

}



/*pages of orders */

.Pages{

  width:300px;
  height: 50px;
  border-radius: 20px;
  background-color: white;
  color: rgb(0, 0, 0);


}

.pages:hover{

  background-color: #ffe8e8;
  color: green;

  
}

.pages:hover a{

  color: green;
  
}
/*active pages*/

.activate{

  width:300px;
  height: 50px;
  border-radius: 20px;
  background-color: #3d6859a4;
  color: white;

  color: rgb(255, 255, 255);

}

/*big table style*/
.Big_Table{

  width: 1000;
  height: 1000px;
  border-radius: 20px;

}

.table tr th{

  background-color: #ffffffa4;
  text-align:center;

}



.table tr td{

  height:20px;
  font-size: 10px;
  

}



.table tr:hover{

  background-color: #2b845ca4;
  

}


img{
  width: 50px;
  height: 50px;
 
 }



.footer{

  width: 500px;
  height: 50px;
  margin-left: 350px;
  margin-top: 50px;
  display: flex;
  gap: 20px;
}

.footer_previous{


  width: 50px;
  height: 50px;
  background-color:#3d6859a4; 
  margin-top: 50px;
  border-radius: 20px;
  margin-left: 20px;

}



.footer_next{


  width: 50px;
  height: 50px;
  background-color:#3d6859a4; 
  margin-top: 50px;
  border-radius: 20px;
  margin-left: 20px;

}


.price{


  width: 100px;
  height: 50px;
  background-color: #3d6859a4;
  color:black;
  justify-content: center;
  align-items: center;
  display: flex;
  

}