.my-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #2c7159a4; 
  color: white;
  border: none;
  border-radius: 15px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.my-btn:hover {
  background-color: #074932;
  color: white;
}
.simple-image {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
  }
.profile-nav-link.active, .profile-nav-link.active:focus, .profile-nav-link.active:hover {
    background-color: #2c7159a4 !important;
    color: #fff !important;
    border-color: #2c7159a4 !important;
}
.btn-outline-success{
    border-color: #2c7159a4;
    color: #2c7159a4;
    background-color: transparent;
}
.btn-outline-success:hover {
    background-color: #2c7159a4;
    color: white;
}
