{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Add a New Product{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'seller_dashboard/css/add_product.css' %}">
</head>
<body>

    <div class="dashboard-container">
        <h1>Add a New Product</h1>

        <form method="post" enctype="multipart/form-data" class="product-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="submit-button">💾 Save The Product</button>
        </form>

        <p class="back-link">
            <a href="{% url 'seller_dashboard:my_products' %}">🔙 Back To My Products</a>
        </p>
    </div>

</body>
</html>

{% endblock %}
