{% extends 'base.html' %}
{% load static %}
{% block navbar %}

{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'seller_dashboard/css/dashboard.css' %}">
        <title>{% block title %}Seller Control Panel{% endblock %}</title>
    </head>
    <body>
        
    <div class="dashboard-container">
        <h1>Seller Control Panel</h1>

        <div class="stats">
            <p class="stat-item">Total Products: <span>{{ total_products }}</span></p>
            <p class="stat-item">Total Orders: <span>{{ total_orders }}</span></p>
            <p class="stat-item">Total Sales: <span>{{ total_sales }} E.P</span></p>
        </div>
    </div>

</body>
</html>
{% endblock %}