{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Edit The Product{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{% static 'seller_dashboard/css/edit_product.css' %}"
    />
  </head>
  <body>
    <div class="dashboard-container">
      <h1>Edit The Product</h1>

      <form class="product-form" method="post" enctype="multipart/form-data">
        {% csrf_token %} {{ form.as_p }}
        <button class="submit-button" type="submit">Update</button>
      </form>

      <p class="back-link">
        <a href="{% url 'my_products' %}"
          ><button class="submit-button">Back to my products</button></a
        >
      </p>
    </div>
  </body>
</html>

{% endblock %}
