{% extends 'seller_dashboard/components/seller_base.html' %}
{% load static %}
{% block title %}My Products{% endblock %}
{% block content %}
    <h1>My Products</h1>
    <hr>
    <br>

    <div class="page">
        <div>
            <a href="{% url 'add_product' %}" class="add-product-btn">
                <i class="fas fa-plus"></i> Add New Product
            </a>
        </div>

        {% if products %}
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Photo</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Stock</th>
                        <th>Created</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td data-label="ID">{{ product.id }}</td>
                        <td data-label="Photo">
                            {% if product.image %}
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" width="50" height="50" style="object-fit: cover; border-radius: 6px;" />
                            {% elif product.URL_image %}
                                <img src="{{ product.URL_image }}" alt="{{ product.name }}" width="50" height="50" style="object-fit: cover; border-radius: 6px;" />
                            {% else %}
                                <span>No Image</span>
                            {% endif %}
                        </td>
                        <td data-label="Name">{{ product.name }}</td>
                        <td data-label="Price">{{ product.price }} E.P</td>
                        <td data-label="Stock">
                            {% if product.get_stock_status %}
                                In Stock ({{ product.get_stock_quantity }})
                            {% else %}
                                Out of Stock
                            {% endif %}
                        </td>
                        <td data-label="Created">{{ product.created_at|date:"Y-m-d" }}</td>
                        <td data-label="Actions">
                            <a href="{% url 'edit_product' product.pk %}" class="btn btn-edit">Edit</a>
                            <a href="{% url 'delete_product' product.pk %}" class="btn btn-delete">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You Haven't Added Any Products Yet.</p>
        {% endif %}
    </div>
{% endblock %}
