{% extends 'seller_dashboard/components/seller_base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'seller_dashboard/css/orders.css' %}">
{% endblock %}
{% block title %}Orders For My Products{% endblock %}
{% block content %}
<div class="dashboard-container">
        <h1>Orders For My Products</h1>

        {% if order_items %}
            <table class="orders-table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total Price</th>
                        <th>Order Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order_items %}
                        <tr>
                            <td>{{ item.product.name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.price }} E.P</td>
                            <td>{{ item.total_price }} E.P</td>
                            <td>{{ item.date|date:"Y-m-d H:i" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="empty-msg">There Are No Orders For Your Products Yet.</p>
        {% endif %}
    </div>

{% endblock %}

