{% load static %}

<div>
  <div class="top">
    <h1><i class="fas fa-user-shield"></i> Admin Panel</h1>
  </div>

  <div class="slidebar">

<div class="row{% if request.resolver_match.url_name == 'home' %}-active{% endif %}">
  <a href="{% url 'home' %}">
    <span class="material-symbols-outlined">home</span>
    <h3>Main Website</h3>
  </a>
</div>


    <div class="row{% if request.resolver_match.url_name == 'users' %}-active{% endif %}">
      <a href="{% url 'users' %}">
        <span class="material-symbols-outlined">person_outline</span>
        <h3>Users</h3>
      </a>
    </div>

    <div class="row{% if request.resolver_match.url_name == 'products' %}-active{% endif %}">
      <a href="{% url 'products' %}">
        <span class="material-symbols-outlined">receipt_long</span>
        <h3>Products</h3>
      </a>
    </div>


    <div class="row{% if request.resolver_match.url_name == 'orders' %}-active{% endif %}">
      <a href="{% url 'All_Orders' %}">
        <span class="material-symbols-outlined">shopping_cart</span>
        <h3>Orders</h3>
      </a>
    </div>

    <div class="row logout">
      <a href="{% url 'logout' %}" class="logout">
        <span class="material-symbols-outlined ">logout</span>
        <h3 >Logout</h3>
      </a>
    </div>
    
  </div>
</div>
