{% load static %}

<div>
  <div class="top">
    <!-- <img src="{% static 'admin_panel/images/logo.png' %}"> -->
    <h1>Souqora</h1>
  </div>

  <div class="slidebar">

    <div class="row{% if request.resolver_match.url_name == 'dashboard' %}-active{% endif %}">
      <a href="#">
        <span class="material-symbols-outlined">grid_view</span>
        <h3>Dashboard</h3>
      </a>
    </div>

    <div class="row{% if request.resolver_match.url_name == 'customers' %}-active{% endif %}">
      <a href="{% url 'customers' %}">
        <span class="material-symbols-outlined">person_outline</span>
        <h3>Customers</h3>
      </a>
    </div>

    <div class="row{% if request.resolver_match.url_name == 'products' %}-active{% endif %}">
      <a href="{% url 'products' %}">
        <span class="material-symbols-outlined">receipt_long</span>
        <h3>Products</h3>
      </a>
    </div>


    <div class="row{% if request.resolver_match.url_name == 'orders' %}-active{% endif %}">
      <a href="#">
        <span class="material-symbols-outlined">shopping_cart</span>
        <h3>Orders</h3>
      </a>
    </div>

    <div class="row">
      <a href="#" class="logout">
        <span class="material-symbols-outlined">logout</span>
        <h3>Logout</h3>
      </a>
    </div>
    
  </div>
</div>
